* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    color: #291f1a;
    margin: 0;
    font-weight: 300;
}

#main-nav {
    display: inline-block;
    position: fixed;
    background-color: #ffffff;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 2;
}

#main-nav > ul {
    margin: 0;
    float: right;
}

#main-nav > ul > li {
    list-style: none;
    display: inline-block;
}

#main-nav > ul > li > a {
    text-decoration: none;
    color: #1ac056;
    font-weight: 300;
}

#main-nav > ul > li > a:hover {
    color: #291f1a;
}

#main-header {
    background-image: url(../img/header-background.jpg);
    background-size: cover;
    background-position: center;
}

#main-header > .main-header-content > h1 {
    font-family: 'Roboto', sans-serif;
}

#main-header > div {
    padding: 30vh%;
}
