* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    color: #291f1a;
    margin: 0;
    font-weight: 300;
}

#main-nav {
    display: inline-block;
    position: fixed;
    background-color: #ffffff;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 2;
}

#main-nav > ul {
    margin: 0;
    float: right;
}

#main-nav > ul > li {
    list-style: none;
    display: inline-block;
    padding: 20px 40px;
}

#main-nav > ul > li > a {
    text-decoration: none;
    color: #1ac056;
    font-weight: 300;
}

#main-nav > ul > li > a:hover {
    color: #291f1a;
}

#main-header {
    background-image: url(../img/header-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
}

#main-header .main-header-content h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 6em;
    font-weight: 200;
}

#main-header .main-header-content h1 span {
    color: #1ac056;
    font-weight: 300;
}

#main-header .main-header-content h2 {
    font-size 5em;
    font-weight: 200;
}

#main-header > .main-header-content {
    padding: 30vh;
    text-align: center;
}

#about {
    padding: 0 80px 100px;
    width: 100%;
    background-color: #f9fcfe;
    overflow: hidden;
}

#about > h2 {
    text-align: center;
}

#about figure img {
    height: 350px;
    max-width: 100%;
    border: white solid 15px;
    border-radius: 20px;
}

#about figure {
    margin: 0;
    float: left;
    width: 50%;
}

#about article {
    float: left;
    width: 50%;
}

section h2 {
    font-size: 30px;
    font-weight: 300;
    margin-top: 60px;
    margin-bottom: 36px;
}

#skills-icons figure {
    display: inline-block;
}

#skills {
    text-align: center;
}
