* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    color: #291f1a;
    margin: 0;
    font-weight: 300;
}

#main-nav {
    display: inline-block;
    position: fixed;
    background-color: #ffffff;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 2;
}

#main-nav > ul {
    margin: 0;
    float: right;
}

#main-nav > ul > li {
    list-style: none;
    display: inline-block;
    padding: 20px 40px;
}

#main-nav > ul > li > a {
    text-decoration: none;
    color: #1ac056;
    font-weight: 300;
}

#main-nav > ul > li > a:hover {
    color: #291f1a;
}

#main-header {
    background-image: url(../img/header-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
}

#main-header .main-header-content h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 6em;
    font-weight: 200;
}

#main-header .main-header-content h1 span {
    color: #1ac056;
    font-weight: 300;
}

#main-header .main-header-content h2 {
    font-size 5em;
    font-weight: 200;
}

#main-header > .main-header-content {
    padding: 30vh;
    text-align: center;
}

#about {
    padding: 0 80px 100px;
    width: 100%;
    background-color: #f9fcfe;
    overflow: hidden;
}

#about > h2 {
    text-align: center;
}

#about figure img {
    height: 350px;
    max-width: 100%;
    border: white solid 15px;
    border-radius: 20px;
}

#about figure {
    margin: 0;
    float: left;
    width: 50%;
}

#about article {
    float: left;
    width: 50%;
}

#about article p {
    line-height: 25px;
}

section h2 {
    font-size: 30px;
    font-weight: 300;
    margin-top: 60px;
    margin-bottom: 36px;
}

#skills #skills-icons figure {
    display: inline-block;
}

#skills p {
    line-height: 25px;
}

#skills {
    text-align: center;
}

#contact {
    background-color: #213b50;
    color: #fff;
    overflow: hidden;
    /*musi być overflow hidden bo inaczej kontener nie pomieści zawartości i nie wyświetli się float left z poniższej reguły*/
}

.contact-data,
.contact-form {
    width: 50%;
    float: left;
}


#contact > div > h2 {
    text-align: left;
    font-size: 38px;
    padding-left: 40px;
}

#contact address {
    font-style: normal;
    line-height: 25px;
    margin: 72px 0;
    padding-left: 40px;
}

#contact address span {
    color: #1ac056;
}

#contact .contact-form {
    margin-top: 100px;
}

#contact .contact-form input#name-surname,
#email,
#submit,
#message {
    width: 80%;
    padding: 15px;
    margin-bottom: 15px;
    border: #2b4a64 solid 0;
    background-color: #2b4a64;

}

#contact .contact-form input#name-surname:focus,
#email:focus,
#message:focus,
#message:focus {
    background-color: #426684;
}

#contact .contact-form input#submit {
    width: auto;
    padding: 15px 30px;
    float: right;
    border: 1px solid #1ac056;
    color: #fff;
    font-weight: 600;
    background-color: #1ac056;
    float: none;
}

#contact .contact-form input#submit:hover {
    background-color: #fff;
    color: #1ac056;
}
